.footer{
  min-height: 100px;
  padding: 30px 0 83px 0;
  background-color: #fafafa;
}
.footerWrapper{
  display: flex;
  justify-content: space-between;
}
.footerHeader{
  margin-top: 14px;
  color: #FF8000;
  font-size: 24px;
  font-weight: 600;
  line-height: 39px;
  text-align: left;
}
.footerItem{
  font-size: 16px;
  font-weight: 300;
  line-height: 23px;
  text-align: left;
  padding-bottom: 8px;

}
.footerLink{
  color: rgb(0, 0, 0);
  text-decoration: none;
}