.position{
  min-height: 448px;
  padding: 20px 0 20px 0;
  &__wrapper{
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin-left: 25px;
    margin-top: 30px;
    background-color: #fff;
  }
  &__header{
    color: rgb(23, 26, 31);
    font-size: 32px;
    font-weight: 400;
    line-height: 48px;
    text-align: left;
  }
}