.theme__wrapper{
  width: 576px;
  height: 64px;
  display: flex;
  align-items: center;
  border-radius: 8px;
  background-color: #fff;
  padding: 20px 0 20px 20px;
  margin: 10px;
  &__number{
    color: rgb(51, 51, 51);
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    text-align: left;
    text-transform: uppercase;
  }
  &__title{
    color: rgb(51, 51, 51);
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    text-align: left;
    padding-left: 10px;
    text-transform: uppercase;
    flex-grow: 2;
  }
}