.field{
  position: relative;
  margin-bottom: 30px;
  display: block;
  text-align: center;
  width: 100%;
  &__span{
    display: block;
    position: absolute;
    top:100%;
    padding-left: 6px;
    font-size: 14px;
    color: #ff0000;
  }
  &__input{
    width: 318px;
    height: 45px;
    border-radius: 8px;
    background: rgb(249, 249, 249);
    border: none;
    padding: 16px 0 16px 16px;
    &:focus{
      outline: none;
    }
  }
  &__label{
    display: block;
    padding: 0 0 6px 6px;
    text-align: left;
  }
}
