.account {  
  min-height: 662px;
  max-width: 999999px;
  padding: 50px 0 36px 0;
  &__wrapper {
    background-color: #F7F7F7;
    display: flex;
  }

  &__special--info {
    display: flex;
    flex-direction: column;
  }
}