.header {
  position: relative;
  min-height: 88px;
  padding: 11px 0 5px 0;
  z-index: 1;
}
.headerWrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.headerLogo{
  display: flex;
  align-items: center;
  flex-grow: 1;
}
.logoName{
  color: #FF8000;
  font-size: 32px;
  font-weight: 400;
  line-height: 39px;
  text-align: center;
  margin-right: 47px;
  cursor: pointer;
  text-decoration: none;
}
.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 66px;
  height: 74px;
  margin-right: 47px;
}