.help{
  min-height: 355px;
  padding-bottom: 35px;
}
.helpTitle{
  color: rgb(255, 128, 0);
  font-size: 24px;
  font-weight: 600;
  text-align: left;
}
.helpSubtitle{
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 300;
  text-align: left;
  margin-top: 30px;
}
.helpDescription{
  display: flex;
  flex-direction: column;
  width: 580px;
}
.helpWrapper{
  display: flex;
  justify-content: space-between;
}
.helpImg{
  width: 100%;
  height: 350px;
}