.catalog__card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 390px;
  height: 210px;
  background-color: #fff;
  margin-bottom: 75px;
  border-radius: 20px;

  &_title {
    color: #000;
    font-size: 32px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
  }
}