.header {
  position: relative;
  min-height: 88px;
  padding: 11px 0 5px 0;
  z-index: 100;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo{
    display: flex;
    align-items: center;
  }

  &__logo--name{
    color: #FF8000;
    font-size: 32px;
    text-align: center;
    margin-right: 47px;
    flex-grow: 1;
    cursor: pointer;
    text-decoration: none;
  }
}



