.catalog__hint{
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  position: relative;
  &_img{
    width: 64px;
    height: 64px;
  }
  &_number{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: #0051FF;
    width: 15px;
    height: 15px;
    top: -3px;
    left: 53px;
    border-radius: 50%;
    color: #fff;
    font-size: 7px;
    font-weight: 700;
    line-height: 22.89px;
  }
  &_title{
    padding-left: 26px;
    color: rgb(122, 114, 114);
    font-size: 14px;
    font-weight: 500;
  }
}