.general{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  &__header{
    color: rgb(23, 26, 31);
    font-size: 32px;
    font-weight: 400;
    line-height: 48px;
    text-align: center;
    padding-bottom: 10px;
  }
  &__avatar{
    display: flex;
    width: 100%;
    border-radius: 5px;
    &_img{
      width: 300px;
      height: 300px;
    }
  }
  &__info{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    &_item{
      padding-bottom: 10px;
      color: #000;
      font-size: 16px;
      font-weight: 400;
      text-align: left;
    }
  }
}