.menu {
  list-style-type: none;
  display: flex;
  flex-grow: 1;

  &__item {
    list-style-type: none;
    padding-right: 42px;

    a {
      text-decoration: none;
      color: rgb(0, 0, 0);
      font-size: 16px;
      font-weight: 400;
      line-height: 19px;
      text-align: center;
      cursor: pointer;
      transition: 0.3s all;

      &:hover {
        color: #FF8000;
      }
    }
  }
}