.position__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  background-color: rgb(250, 250, 250,0.4);
  padding: 10px;

  &-placement {
    color: rgb(18, 18, 18);
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    text-transform: uppercase;
  }

  &-info {
    display: flex;
    flex-grow: 1;
    color: rgb(51, 51, 51);
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    margin-left: 5px;
    text-transform: capitalize;
  }
  &-score{
    color: #000;
    font-size: 18px;
    font-weight: 400;
    line-height: 17px;
    text-align: left;
    text-transform: capitalize;
  }
}

.first {
  color: #ff0000;
}

.second{
  color: #a3a3a3;
}

.third{
  color: #CD7F32;
}