.task{
  border-radius: 8px;
  margin-top: 25px;
  background-color: #EFF1F5;
  padding: 40px 40px 15px 40px;
  &__header{
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
  }
  &__number{
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    color: #191919;
  }
  &__text{
    margin-top: 24px;
  }
  &__description{
    font-size: 24px;
    font-family: "Times New Roman", serif;
    color: #000;
    line-height: normal;
    font-weight: 400;
  }
  &__image{
    display: block;
    text-align: center;
    margin: 20px auto;
    max-width: 800px;
    padding-block: 50px;
  }
  &__actions{
    display: flex;
    align-items: center;
    column-gap: 60px;
    margin-top: 25px;
  }
  &__answer{
    width: 40%;
    position: relative;
    &-field{
      width: 100%;
      position: relative;
      height: 60px;
      outline: none;
      line-height: 58px;
      font-size: 16px;
      padding: 0 20px;
      background: #fff;
      border: 1px solid rgba(28, 28, 28, .2);
      border-radius: 3px;
      font-family: Open Sans, sans-serif;
      transition: border-color .2s linear 0s;
      &--correct{
        border: 2px solid #4CAF50;
      }
      &--invalid{
        border: 2px solid #f44336;
      }
    }
  }
  &__check{
    background-color: #DFE2EA;
    color: #000;
    border-color: transparent;
    border-radius: 6px;
    width: 160px;
    height: 60px;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    cursor: pointer;
    transition: ease .2s;
    &:hover{
      color: #fff;
      background-color: #FF8000;
    }
  }
}