.homework-header {
  min-height: 85px;
  padding-top: 32px;
  display: flex;
  flex-direction: column;

  &__links {
    display: flex;
    column-gap: 16px;
    align-items: center;
    width: 100%;

    &-link {
      text-decoration: none;
      color: #191919;
      font-size: 18px;
      font-weight: 400;
      line-height: 22.89px;
      text-align: center;
    }
  }

  &__theme {
    color: #FF8000;
    font-size: 32px;
    font-weight: 400;
    letter-spacing: -1%;
    text-align: left;
    margin-top: 10px;
  }
}