.themes{
  padding: 50px 0 30px 0;
  &__header{
    color: #FF8000;
    text-decoration: underline;
    font-size: 18px;
    font-weight: 500;
    line-height: 22.89px;
    text-align: left;
  }
  &__list{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
  }
}