* {
  box-sizing: border-box;
  font-family: Inter, Montserrat, sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-size:16px;
  font-weight: 400;
  line-height: 20px;
  &:focus {
    outline: none;
  }
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #fff;
}
