.advantages{
  min-height: 463px;
  padding: 11px 0 125px 0;
}

.advantagesTitle{
  color: rgb(255, 92, 0);
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
}
.cardList{
  display: flex;
  margin-top: 35px;
  justify-content:space-between;
}
.cardItem{
  display: flex;
  flex-direction: column;
}
.cardTitle{
  max-width: 417px;
  color: rgb(255, 92, 0);
  font-size: 20px;
  font-weight: 600;
  line-height: 29px;
  text-align: left;
}
.cardDescription{
  margin-top: 16px;
  max-width: 262px;
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  text-align: left
}