*{
  box-sizing: border-box;
  font-family: Inter, sans-serif;
  margin: 0;
  padding: 0;
  &:focus{
    outline: none;
  }
}

.container{
  max-width: 1300px;
  margin: 0 auto;
}
.divider{
  background-color: #FF8000;
  height: 2px;
  width: 100%;
  margin-top: 40px;
}
