.homework__task{
  border-radius: 8px;
  margin-top: 25px;
  background-color: #fff;
  padding: 40px 40px 0 40px;
  &__header{
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
  }
  &__number{
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    color: #191919;
  }
  &__text{
    margin-top: 24px;
  }
  &__description{
    font-size: 24px;
    font-family: "Times New Roman", serif;
    color: #000;
    line-height: normal;
    font-weight: 400;
  }
  &__image{
    display: block;
    text-align: center;
    margin: 20px auto;
    max-width: 800px;
  }
  &__solution{
    border-top: 1px solid #ECF3F5;
    &_header{
      padding: 20px 25px 20px 40px;
      cursor: pointer;
      position: relative;
      font-weight: 600;
      font-size: 14px;
      line-height: 24px;
      color: #191919;
      user-select: none;
      &:before{
        content: "";
        position: absolute;
        top: 25px;
        right: 46px;
        width: 8px;
        height: 8px;
        border-top: 2px solid var(--secondary, #000000);
        border-right: 2px solid var(--secondary, #000000);
        transform: rotate(135deg);
      }
    }
  }
}